.home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  gap: 1rem;
}

.frame-title-wrapper {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-top: 50px;
  margin-left: 300px;
}

.frame-title {
  font-size: var(--fs-m);
  font-weight: var(--fw-medium);
  color: var(--secondary);
}

.frame-title.dark-mode {
  color: var(--primary);
}

.see-all-btn {
  background-color: var(--secondary);
  transition: background-color 0.2s;
  height: 20px;
  width: 60px;
  cursor: pointer;
}

.see-all-btn.dark-mode {
  background-color: var(--primary);
  transition: background-color 0.2s;
}

.see-all-btn:hover {
  background-color: var(--clr-link);
}

.see-all-text {
  font-size: var(--fs-xxs);
  color: var(--primary);
  position: relative;
  top: 2px;
}

.see-all-text.dark-mode {
  color: var(--secondary);
}

@media screen and (max-width: 450px) { 
  .home-wrapper {
    min-height: 60vh;
  } 
}